<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">ac97database</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/test</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.min_size">4</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<mapping class="model.Attribute" />
		<mapping class="model.Package" />
		<mapping class="model.Object" />
		<mapping class="model.AttributeTag" />
		<mapping class="model.ObjectProperty" />
		<mapping class="model.Connector" />
		<mapping class="model.Operation" />
		<mapping class="model.OperationParameter" />
		<mapping class="model.Diagram" />
		<mapping class="model.DiagramObject" />
	</session-factory>
</hibernate-configuration>
